USE [master]
GO
/****** Object:  Database [AnalisisResidencia]    Script Date: 24/3/2020 18:39:45 ******/
CREATE DATABASE [AnalisisResidencia] ON  PRIMARY 
( NAME = N'AnalisisResidencia', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\AnalisisResidencia.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AnalisisResidencia_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\AnalisisResidencia_log.LDF' , SIZE = 504KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AnalisisResidencia].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AnalisisResidencia]
GO
/****** Object:  Table [dbo].[Compound]    Script Date: 24/3/2020 18:39:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compound](
	[id_Compound] [int] IDENTITY(1,1) NOT NULL,
	[CompoundName] [varchar](150) NULL,
 CONSTRAINT [PK_Compound] PRIMARY KEY CLUSTERED 
(
	[id_Compound] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 24/3/2020 18:39:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor](
	[id_Doctor] [int] IDENTITY(1,1) NOT NULL,
	[DoctorName] [varchar](150) NULL,
	[DoctorLastName] [varchar](150) NULL,
 CONSTRAINT [PK_Doctor] PRIMARY KEY CLUSTERED 
(
	[id_Doctor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 24/3/2020 18:39:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[User] [varchar](50) NULL,
	[Password] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 24/3/2020 18:39:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[id_Material] [int] IDENTITY(1,1) NOT NULL,
	[MaterialName] [varchar](150) NULL,
	[MaterialQuantity] [int] NULL,
	[MaterialExpDate] [date] NULL,
	[MaterialUnits] [decimal](18, 2) NULL,
	[idSupplier] [int] NULL,
	[MaterialQuantityPres] [varchar](20) NULL,
 CONSTRAINT [PK_Material] PRIMARY KEY CLUSTERED 
(
	[id_Material] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicine]    Script Date: 24/3/2020 18:39:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicine](
	[id_Medicine] [int] IDENTITY(1,1) NOT NULL,
	[MedicineName] [varchar](150) NULL,
	[MedicineQuantity] [int] NULL,
	[MedicineUnits] [decimal](18, 2) NULL,
	[MedicineDosQuan] [decimal](18, 2) NULL,
	[MedicineDosUnits] [decimal](18, 2) NULL,
	[MedicineExpDate] [date] NULL,
	[idSupplier] [int] NULL,
	[MedicineUnitsType] [varchar](20) NULL,
	[MedicineQuantityPres] [varchar](20) NULL,
 CONSTRAINT [PK_Medicine] PRIMARY KEY CLUSTERED 
(
	[id_Medicine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicineCompound]    Script Date: 24/3/2020 18:39:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicineCompound](
	[idMedicine] [int] NULL,
	[idCompound] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 24/3/2020 18:39:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[id_patient] [int] IDENTITY(1,1) NOT NULL,
	[patientName] [varchar](150) NULL,
	[patientLastName] [varchar](150) NULL,
	[patientEmail] [varchar](150) NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[id_patient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 24/3/2020 18:39:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id_Product] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](150) NULL,
	[ProductQuantity] [int] NULL,
	[ProductExpDate] [date] NULL,
	[ProductUnits] [decimal](18, 2) NULL,
	[idSupplier] [int] NULL,
	[ProductUnitType] [varchar](20) NULL,
	[ProductQuantityPres] [varchar](20) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[id_Product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReservationT]    Script Date: 24/3/2020 18:39:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservationT](
	[id_Reservation] [int] IDENTITY(1,1) NOT NULL,
	[idDoctor] [int] NULL,
	[idPatient] [int] NULL,
	[ResStartTime] [time](7) NULL,
	[ResFinishTime] [time](7) NULL,
	[ResDate] [date] NULL,
 CONSTRAINT [PK_ReservationT] PRIMARY KEY CLUSTERED 
(
	[id_Reservation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 24/3/2020 18:39:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[id_Supplier] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [varchar](150) NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[id_Supplier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK_Material_Supplier] FOREIGN KEY([idSupplier])
REFERENCES [dbo].[Supplier] ([id_Supplier])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Material_Supplier]
GO
ALTER TABLE [dbo].[Medicine]  WITH CHECK ADD  CONSTRAINT [FK_Medicine_Supplier] FOREIGN KEY([idSupplier])
REFERENCES [dbo].[Supplier] ([id_Supplier])
GO
ALTER TABLE [dbo].[Medicine] CHECK CONSTRAINT [FK_Medicine_Supplier]
GO
ALTER TABLE [dbo].[MedicineCompound]  WITH CHECK ADD  CONSTRAINT [FK_MedicineCompound_Compound] FOREIGN KEY([idCompound])
REFERENCES [dbo].[Compound] ([id_Compound])
GO
ALTER TABLE [dbo].[MedicineCompound] CHECK CONSTRAINT [FK_MedicineCompound_Compound]
GO
ALTER TABLE [dbo].[MedicineCompound]  WITH CHECK ADD  CONSTRAINT [FK_MedicineCompound_Medicine] FOREIGN KEY([idMedicine])
REFERENCES [dbo].[Medicine] ([id_Medicine])
GO
ALTER TABLE [dbo].[MedicineCompound] CHECK CONSTRAINT [FK_MedicineCompound_Medicine]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Supplier] FOREIGN KEY([idSupplier])
REFERENCES [dbo].[Supplier] ([id_Supplier])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Supplier]
GO
ALTER TABLE [dbo].[ReservationT]  WITH CHECK ADD  CONSTRAINT [FK_ReservationT_Doctor] FOREIGN KEY([idDoctor])
REFERENCES [dbo].[Doctor] ([id_Doctor])
GO
ALTER TABLE [dbo].[ReservationT] CHECK CONSTRAINT [FK_ReservationT_Doctor]
GO
ALTER TABLE [dbo].[ReservationT]  WITH CHECK ADD  CONSTRAINT [FK_ReservationT_Patient] FOREIGN KEY([idPatient])
REFERENCES [dbo].[Patient] ([id_patient])
GO
ALTER TABLE [dbo].[ReservationT] CHECK CONSTRAINT [FK_ReservationT_Patient]
GO
USE [master]
GO
